/* leaving animations */
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

@keyframes slideOutLeft {
	to { transform: translateX(-100%); }
}

/* entering animations */
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes scaleUp {
	from { opacity: 0.3; -webkit-transform: scale(0.8); }
}

@keyframes slideInRight {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}

@keyframes slideInUp {
	from { transform: translateY(100%); }
	to { transform: translateY(0); }
}